:root {
    /* brand font */
    --brand-font-family: "Trebuchet MS", system-ui, -apple-system, Segoe UI,
        Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif;

    --color-brand: #0939aaff;
    --color-blue: #0d0df2ff;
    --color-red: #f20d0dff;
    --color-amber: #f2a10dff;
    --color-green: #0ac20aff;
    --color-90-90: #aa098aff;
    --color-90-180: #aa7a09ff;
    --color-90-270: #09aa2aff;
    --color-120-120: #aa0939ff;
    --color-120-240: #39aa09ff;
    /* brand colors */
    --h: 222;
    --s: 90%;
    --l: 35%;
    --brand-color-primary: var(--color-brand);
    --brand: var(--color-brand);

    /* RAG etc colors */
    --brand-color-info: var(--color-blue);
    --brand-color-success: var(--color-green);
    --brand-color-warning: var(--color-amber);
    --brand-color-danger: var(--color-red);

    /* --brand-green: var(--brand-color-success);
    --brand-amber: var(--brand-color-warning);
    --brand-red: var(--brand-color-danger); */

    /* --brand-green-amber: color-mix(in lch, var(--brand-green), var(--brand-amber));
    --brand-amber-red: color-mix(in lch, var(--brand-amber), var(--brand-red)); */
    --color-green-amber: color-mix(
        in lch,
        var(--color-green),
        var(--color-amber)
    );
    --color-amber-red: color-mix(in lch, var(--color-amber), var(--color-red));

    /* --brand-color-3-0: hsl(222, 45%, 45%);
    --brand-color-3-1: var(--color-60-120);
    --brand-color-3-2: var(--color-120-120);

    --brand-color-4-0: var(--brand-color-3-0);
    --brand-color-4-1: var(--color-90-90);
    --brand-color-4-2: var(--color-90-180);
    --brand-color-4-3: var(--color-90-270); */

    --fluid-base-size: 1rem; /*clamp(0.75rem, 1.5vw, 1rem);/* /* 12px in 16px base*/

    --chart-footer: "No-code-dashboard";
}
